<div id="form">
  <form action="/" method="post">
    <label for="game">Form label: </label>
    <input class="form-control" type="text" name="name">
    <input id="form-submit" type="submit" value="Submit Button">
  </form>
</div>
