<div id="form">
  <form action="/" method="post">
    <label for="location">Enter location: </label>
    <input class="form-control" type="text" name="location">
    <input id="form-submit" type="submit" value="Submit Button">
  </form>
</div>
