<!DOCTYPE html>
<html>
	<head>
		<title>Index</title>
		<link rel="stylesheet" href="css/style.css"></link>
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	</head>
	<body>
    {{> header}}
	   <div id="container">
        <h1>{{render}}</h1>
				{{> form}}
        <h3>{{name}}</h3>
      </div>
	</body>
</html>
