body {
  font-family: 'Lato', sans-serif;
  background-color:rgb(250,250,250);
}

h1 {
	font-size:2.8em;
}

h2 {
	font-size:2.5em;
}

h3 {
  font-size:2.2em;
}

a {
  font-size:2em;
}

#container {
  position:absolute;
  left:0px;
  right:0px;
  top:0px;
  bottom:0px;
  margin:auto;
  width:80%;
  height:80%;
}

.pictures {
  width:40%;
  padding:10px;
}
